@if (isLoading()) {
<div class="loading">
	<div class="loader"></div>
</div>
} @else {
<main class="main-content fade-in">
	<h1>{{ product!.name }}</h1>
	<section>
		<div>
			<img
				class="product-image"
				[src]="product!.photo_url"
				[alt]="product!.name" />
		</div>
		<div>
			<p class="product-description">{{ product!.description }}</p>
			<p class="font-bold">
				Precio:
				<span>{{ product!.price | currency }}</span>
			</p>
			<a
				*ngIf="product"
				[href]="customUrl"
				target="_blank"
				rel="noopener noreferrer"
				class="whatsapp-button">
				Pedir por WhatsApp
				<mat-icon>phone</mat-icon>
			</a>
		</div>
	</section>
</main>
}
