<div class="contenido">
	<div class="container">
		<main class="main">
			<h1 class="titulo">{{ product.name }}</h1>
			<hr />
			<div class="row">
				<div class="col-md-6 col-izquierda">
					<img
						class="producto-imagen"
						[src]="product.photo_url"
						[alt]="product.name" />
				</div>
				<div class="col-md-6 col-derecha">
					<p class="description">{{ product.description }}</p>
					<p class="producto">
						Categoría:
						<span class="producto-categoria">{{ category.name }}</span>
					</p>
					<p class="producto">
						Precio:
						<span class="producto-precio">${{ product.price }}</span>
					</p>
					<a
						*ngIf="product"
						[href]="customUrl"
						target="_blank"
						class="boton-whatsapp">
						<p>Pedir por WhatsApp</p>
						<mat-icon>whatsapp</mat-icon>
					</a>
				</div>
			</div>
		</main>
		<hr />
	</div>
</div>
<app-contactanos id="contactanos"></app-contactanos>
<app-footer></app-footer>
