.main-content {
    background-color: var(--primario);
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
}

.login-card {
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 90%;
    max-width: 500px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 2rem;
}

.logo img {
    width: 75px;
    height: 75px;
}

.logo p {
    font-size: 3rem;
    font-family: var(--fuente-secundaria);
    margin: 0;
}

.login-card form {
    display: flex;
    flex-direction: column;
}

.field {
    margin-bottom: 1rem;
}

.field label {
    font-weight: bold;
}

.field input{
    width: 100%;
    border: 1px solid #CDCDCD;
    border-radius: 10px;
    margin: 0.5rem 0;
    padding: 0.3rem 0.5rem;
}

.field input:focus {
    outline: none;
    border:1px solid var(--secundario);
}

.field span {
    display: block;
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
}

form button {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: rgb(183, 118, 129);
    font-size: 15px;
    font-weight: 600;
    padding: 20px;
    border-radius: 3px;
    transition: all 0.3s ease;
    margin-top: 1rem;
}

form button:hover {
    background-color: rgb(183, 118, 129, 0.8);
}