.login {
    background-color: var(--primario);
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
}

.formulario {
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 90%;
    max-width: 500px;
}

.logo {
    margin-bottom: 2rem;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (min-width:768px){
    .logo {
        flex-direction: row;
    }
}

.logo-imagen {
    margin-right: 10px;
    height: 100px;
}

@media (min-width : 768px) {
    .logo-imagen {
        height: 75px;
    }
}

.logo-nombre {
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--fuente-secundaria);
    margin: 0;
}

.formulario form {
    display: flex;
    flex-direction: column;
}

.campo label {
    font-weight: bold;
}

.campo input{
    width: 100%;
    border: 1px solid #CDCDCD;
    border-radius: 10px;
    margin: 0.5rem 0;
    padding: 0.3rem 0.5rem;
}

.campo input:focus {
    outline: none;
    border:2px solid var(--secundario);
}

.campo span {
    display: block;
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
}

.boton {
    margin-top: 2rem;
    background-color: var(--secundario);
    color: var(--negro);
}