<app-navbar></app-navbar>
<div class="container">
	<h1 class="titulo">Existen dos métodos para realizar tu pago</h1>
	<hr />
	<main class="main">
		<section class="metodo">
			<h2 class="subtitulo">Depósito o Transferencia Bancaria</h2>
			<p class="negrita">Banco de Loja</p>
			<p class="negrita">Cuenta de ahorros</p>
			<p>Nro. 2902681403</p>
			<p class="negrita">Nombre:</p>
			<p>Sofia del Carmen Salcedo Bermeo</p>
			<p class="negrita">Cédula:</p>
			<p>1105935116</p>
			<p class="negrita">Correo electrónico:</p>
			<p>sofiasalcedo64@gmail.com</p>
		</section>
		<section class="metodo">
			<h2 class="subtitulo">Efectivo</h2>
			<p>
				Para este método de pago se puede realizar una vez que se haya
				depositado el 50% del precio final y se puede cancelar el otro
				50% al momento que se realice la entrega.
			</p>
			<p>Permitido únicamente para la ciudad de Loja</p>
			<img
				class="dolar"
				src="/assets/dollar2.png"
				alt="Pago en efectivo" />
		</section>
	</main>
</div>

<app-contactanos id="contactanos"></app-contactanos>
<app-footer></app-footer>
