.example-card {
    max-width: 400px;
}

.contenido{
    padding: 2rem 0;
    background-color: #ededed6e;
}

.titulo {
    font-family: var(--fuente-terciaria);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 400;
}
.productos {
    display: grid; 
    gap: 1rem; 
    grid-template-columns: repeat( auto-fill, minmax(20rem, 1fr) ); 
}