<mat-card class="example-card">
	<mat-card-header>
		<mat-card-title>{{ producto.name }}</mat-card-title>
	</mat-card-header>
	<img [src]="producto.photo_url" alt="Producto" class="card-img" />
	<mat-card-content>
		<p class="description">{{ producto.description }}</p>
		<hr />
		<div class="footer">
			<p class="precio">
				{{ producto.price | currency }}
			</p>
			<p
				[routerLink]="['/producto', producto.category, producto.id]"
				class="precio ver-mas">
				Ver Más
			</p>
		</div>
	</mat-card-content>
</mat-card>
