mat-card {
    height: 100%;
}

.card-img {
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
}

.description {
    margin: 1rem 0 !important;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-precio {
    background-color: #ffcdc2;
}

.precio {
    margin: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    background-color: #FAECE9;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 2.2px;
}