mat-card {
    height: 100%;
}

.card-img {
    width: 100%;
}

.description {
    margin: 1rem 0 !important;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.precio {
    margin: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    background-color: #906F22;
    font-family: var(--fuente-terciaria);
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
}

.ver-mas {
    margin-left: 10px;
    background-color: #a78943;
}