@if (isDesktopDevice()) {
<header class="header">
	<div class="logo flex-center">
		<img src="/assets/images/logo.png" alt="Logo Creando Carino" />
		<p>Creando Cariño</p>
	</div>
	<nav class="flex-center">
		<a
			class="navbar-item hvr-glow"
			routerLink="/"
			[routerLinkActiveOptions]="{ exact: true }"
			routerLinkActive="navbar-item-active">
			Home
		</a>
		<a
			(mouseover)="isDropdownOpen.set(true)"
			(mouseleave)="isDropdownOpen.set(false)"
			class="navbar-item hvr-glow menu">
			Categorías @if (isDropdownOpen()) {
			<ul class="dropdown" aria-label="submenu">
				@for (category of categories; track $index) {
				<li>
					<a [routerLink]="['/', category.name, category.id]">
						{{ category.name }}
					</a>
				</li>
				}
			</ul>
			}
		</a>
		<a
			class="navbar-item hvr-glow"
			routerLink="/pago"
			[routerLinkActiveOptions]="{ exact: true }"
			routerLinkActive="navbar-item-active">
			Método de Pago
		</a>
		<a
			class="navbar-item hvr-glow"
			routerLink="/guia"
			[routerLinkActiveOptions]="{ exact: true }"
			routerLinkActive="navbar-item-active">
			¿Cómo comprar?
		</a>
		<a class="navbar-item hvr-glow" (click)="scrollToSection('contactanos')">
			Contáctanos
		</a>
	</nav>
</header>
} @if ( !isDesktopDevice()) {
<mat-toolbar class="header header-mobile">
	<button class="header-button" (click)="uiService.openSidebar()">
		<mat-icon> menu </mat-icon>
	</button>
	<div class="logo logo-mobile flex-center">
		<img src="/assets/images/logo.png" alt="Logo Creando Carino" />
		<p>Creando Cariño</p>
	</div>
</mat-toolbar>
<app-sidebar [categories]="categories" />

}
