@media (min-width:992px){
    section {
        background-image: url(/assets/images/gift-background.png);
        background-position: 100% 50%;
        background-repeat: no-repeat;
    }

    .content {
        margin-left: 10%;
        width: 60%;
    }
}

section {
    max-width: 1320px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.content h3 {
    text-align: center;
    margin: 1.5rem 0;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing:5px;
    text-transform: uppercase;
}

@media (min-width:992px){
    .content h3 {
        font-size: 3rem;
        margin-bottom: 5rem;
    }
}

.content > p {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
}

@media (min-width:992px){
    .content p {
        font-size: 1.3rem;
    }
}

.social-media-links {
    width: 100%;
    margin: 25px 0;
    display: flex;
    justify-content: space-around;
}

.social-media-links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: #000;
    text-decoration: none;
}

.social-media-links p {
    font-weight: 300;
    font-size: 0.8rem;
}

@media (min-width:  768px) {
    .social-media-links p {
        font-size: 1rem;
    }
}

.social-media-links img{
    height: 5rem;
    width: 5rem;
}