<section id="contactanos">
	<div class="content">
		<h3>¿No te llama la atención ninguno de los regalos?</h3>
		<p>
			Si es así, no dudes en escribirnos para juntos personalizar el regalo
			ideal para esa persona especial en tu vida, nos adaptamos a sus gustos,
			comida y temática favorita. Recuerda que si tienes una idea en especial no
			dudes en consultarnos.
		</p>
		<div class="social-media-links">
			@for (socialMedia of socialMediaLinks; track $index) {
			<a [href]="socialMedia.link" target="_blank">
				<img [src]="socialMedia.image" [alt]="socialMedia.name" />
				<p>{{ socialMedia.content }}</p>
			</a>
			}
		</div>
	</div>
</section>
