<main class="main-content">
	<span class="welcome-text">Bienvenido a</span>
	<h1>Creando Cariño</h1>
	<p class="description">
		En Creando Cariño, no se trata solo de hacer regalos, sino de hacer negocios
		con nuestros corazones. No importa quien sea el destinatario de tu regalo,
		estamos seguros de que tenemos algo para todos, ajustándonos a tu
		presupuesto.
	</p>
	<button (click)="scrollToSection('catalogo')">Catálogo</button>
</main>
<section id="catalogo" class="catalogue">
	<header>
		<p>Catálogo</p>
		<div class="line"></div>
	</header>

	<div class="products">
		<!-- Select -->
		<form [formGroup]="form">
			<label class="select-label">Selecciona la categoría del regalo:</label>
			<select
				formControlName="tipo"
				(change)="cambiarTipo($event)"
				class="select">
				<option value="todos">Todos</option>
				<option *ngFor="let category of categories" [value]="category.id">
					{{ category.name }}
				</option>
			</select>
		</form>
		<!-- Slider -->
		<div class="slider">
			@if (!isLoading()) {
			<swiper-container class="fade-in" appSwiper [config]="config" lazy="true">
				@for (product of products(); track $index) {
				<swiper-slide>
					<app-product-card [product]="product" />
				</swiper-slide>
				}
			</swiper-container>
			}
		</div>
	</div>
</section>
