.main-content {
    background-image: url(/assets/fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-text {
    margin-top: 6rem;
    font-size: 25px;
}

.main-content h1 {
    font-family: var(--fuente-secundaria);
    font-size: 3rem;
    margin: 1.5rem 0;
}

.description {
    padding: 1rem 2rem;
    max-width: 1080px;
    font-size: 16px;
    text-align: center;
}

@media (min-width: 1280px) {
    .description {
        max-width: 1400px;
    }
}

.main-content button {
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--gold);
    color: #fff;
    border: 1px solid var(--gold);
    border-radius: 5px;
    padding: 1rem 2rem;
    transition: all 0.3s ease;
}

.main-content button:hover {
    background-color: #fff;
    color: var(--gold);
}

@media (min-width : 768px) {
    
    .welcome-text {
        font-size: 40px;
    }
    
    .main-content h1 {
        font-size: 6rem;
        margin: 0;
    }
    
    .description {
        padding: 2rem;
        font-size: 20px;
    }
}

.catalogue{
    text-align: center;
}

.catalogue header {
    margin: 3.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalogue header p {
    font-size: 4rem;
    text-align: center;
    margin: 0;
    font-family: var(--fuente-primaria);
    font-weight: 300;
    text-transform: uppercase;
}

.line {
    height: 5px;
    width: 70px;
    background-color: var(--gold);
}

.products {
    background-color: #FAECE9;
}

form {
    display: grid;
    place-items: center;
    gap: 1rem;
    padding: 2rem 0;
}

@media (min-width:768px){
    form {
        display: flex;
        justify-content: center;
    }
}

.select {
    border: 1px solid #ededed;
    border-radius: 3px;
}

.select:focus {
    outline: none;
}

.select-label {
    font-weight: 500;
    font-size: 17px;
}

.slider {
    max-width: 1200px;
    margin: 0 auto;
    height: 700px;
}