.body {
    background-image: url(/assets/fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.loading {
    position: relative;
}

.principal{
    width: 70%;
    margin: auto;
}

.contenido {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.bienvenido {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.titulo {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
}

.descripcion {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.boton {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: #FAECE9;
    color: #838383;
    border: 1px solid #FAECE9;
    border-radius: 10px;
    padding: 1rem 2rem;
}

@media (min-width : 768px) {
    .contenido {
        padding: 100px 0;
        height: calc(100vh - 183px);
    }
    
    .bienvenido {
        font-size: 40px;
    }
    
    .titulo {
        font-size: 6rem;
    }
    
    .descripcion {
        font-size: 20px;
    }
    
    .boton {
        font-size: 25px;
        font-weight: 700;
        border-radius: 20px;
        padding: 1rem 3rem;
    }
}

.header {
    z-index: 0;
}

.logo {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondo-blanco {
    background-color: #FFFFFF;
}

.fondo {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#faece9+0,ede0d3+34,ede0d3+63,faece9+100 */
    background: rgb(250,236,233); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(250,236,233,1) 0%, rgba(237,224,211,1) 34%, rgba(237,224,211,1) 63%, rgba(250,236,233,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(250,236,233,1) 0%,rgba(237,224,211,1) 34%,rgba(237,224,211,1) 63%,rgba(250,236,233,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(250,236,233,1) 0%,rgba(237,224,211,1) 34%,rgba(237,224,211,1) 63%,rgba(250,236,233,1) 100%); /* W3C, IE10+, FF16+, Chrome26+,  Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faece9', endColorstr='#faece9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.logo-imagen {
    margin-right: 10px;
    height: 100px;
}

@media (min-width : 768px) {
    .logo-imagen {
        height: 75px;
    }
}

.logo-nombre {
    font-size: 2.5rem;
    font-family: 'Dancing Script', cursive;
    margin: 0;
}

@media (min-width : 768px) {
    .logo-nombre {
        font-size: 3.5rem;
    }
}

.navbar{
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
}

@media (min-width : 768px) {
    .navbar{
        flex-direction: row;
        justify-content: space-around;
    }
}

.navbar-item {
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 20px;
}

.dropdown{
    display: grid; 
    row-gap: 1rem;
    column-gap: 2rem;
    grid-template-columns: repeat( auto-fill, minmax(10rem, 1fr) ); 
    border-radius: 9px;
    position: absolute;
    background-color: var(--primario);
    list-style: none;
    padding: 1rem 2rem;
    max-width: 50%;
    width: 30rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 1;
}

.dropdown li a {
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    transition: all .1s ease;
}

.dropdown li a:hover {
    font-weight: bold;
}

.active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background-color: #FAECE9;
}