.main-content {
    padding: 8rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .main-content {
        padding: 8rem 0rem;
    }
}

.main-content h1 {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1.5rem;
}

@media (min-width:768px) {
    .main-content h1 {
        font-size: 3rem;
        margin-bottom: 2.5rem;
    }
}

.boton {
    margin-right: 1rem;
    background-color: var(--gold);
    color: #fff !important;
}

mat-stepper {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* background-color: var(--primario); */
    background: linear-gradient(to bottom, #faece9 0%,#f0d8c0 100%);
}

::ng-deep .mat-step-header .mat-step-icon-selected, 
::ng-deep .mat-step-header .mat-step-icon-state-done, 
::ng-deep.mat-step-header .mat-step-icon-state-edit {
    background-color: var(--gold) !important;
}