<div *ngIf="!loading" id="catalogo" class="catalogo">
	<header class="header">
		<p>Catálogo</p>
		<div class="linea"></div>
	</header>

	<main class="productos">
		<div class="container">
			<!-- Select -->

			<form [formGroup]="miFormulario">
				<label class="select-label"
					>Selecciona el tipo de regalo:</label
				>
				<select
					formControlName="tipo"
					(change)="cambiarTipo($event)"
					class="select">
					<option value="todos">Todos</option>
					<option
						*ngFor="let categoria of categorias"
						[value]="categoria.id">
						{{ categoria.name }}
					</option>
				</select>
			</form>
			<!-- Slider -->
			<div class="slider">
				<swiper
					[config]="config"
					[spaceBetween]="10"
					[slidesPerView]="1.2"
					[pagination]="true"
					[navigation]="true"
					class="mySwiper">
					<ng-template swiperSlide *ngFor="let producto of productos">
						<div
							class="card"
							[routerLink]="[
								'/producto',
								producto.category,
								producto.id
							]">
							<img
								[src]="producto.photo_url"
								class="card-img-top"
								[alt]="producto.name" />
							<div class="card-body">
								<h5 class="card-title">{{ producto.name }}</h5>
								<div class="footer">
									<p class="precio">
										{{ producto.price | currency }}
									</p>
									<p
										[routerLink]="[
											'/ver/regalo',
											producto.id
										]"
										class="precio ver-mas">
										Ver Más
									</p>
								</div>
							</div>
						</div>
					</ng-template>
				</swiper>
			</div>
		</div>
	</main>
</div>

<app-loading *ngIf="loading"></app-loading>

<ng-template #arrowLeftTemplate>
	<button mat-mini-fab class="flechas flecha-izquierda">
		<mat-icon class="icono">keyboard_arrow_left</mat-icon>
	</button>
</ng-template>
<ng-template #arrowRightTemplate>
	<button mat-mini-fab class="flechas flecha-derecha">
		<mat-icon class="icono">keyboard_arrow_right</mat-icon>
	</button>
</ng-template>
