.catalogo{
    text-align: center;
}

.header {
    margin: 3.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header p {
    font-size: 4rem;
    text-align: center;
    margin: 0;
    font-family: var(--fuente-primaria);
    font-weight: 300;
    text-transform: uppercase;
}

.header .linea {
    height: 5px;
    width: 70px;
    background-color: var(--gold);
}

.productos {
    background-color: #FAECE9;
}

.container{
    padding: 20px 0;
}

.container form{
    text-align: left;
    margin-bottom: 10px;
}

.select {
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #ededed;
    border-radius: 3px;
    margin-left: 10px;
}

.select:focus {
    outline: none;
}

.select-label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 17px;
}

.precio {
    margin: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    background-color: #906F22;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
}

.ver-mas {
    margin-left: 10px;
    background-color: #a78943;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flechas {
    background-color: #303030a1 ;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.flecha-izquierda {
    left: 2.5%;
}

.flecha-derecha {
    right: 2.5%;
}

.icono {
    color: rgb(230, 230, 230);
}