.header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    height: 6rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 0 2rem;
    z-index: 10;
}

.header-mobile {
    padding: 0;
    justify-content: flex-start;
    background-color: transparent;
}

@media (min-width: 992px) {
    .header-mobile {
        display: none;
    }
}

.header-button {
    height: 100%;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    color: rgb(155, 155, 155);
    border-right: 0.5px solid rgb(155, 155, 155);
}

.logo img {
    width: 80px;
}

.logo p {
    font-size: 2.5rem;
    font-family: var(--fuente-secundaria);
    margin: 0;
}

.logo-mobile {
    flex: 1;
}

.navbar-item {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    padding: 10px 20px;
    cursor: pointer;
}

.navbar-item-active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background-color: #FAECE9;
}

.dropdown{
    display: grid; 
    row-gap: 1rem;
    column-gap: 2rem;
    grid-template-columns: repeat( auto-fill, minmax(10rem, 1fr) ); 
    border-radius: 9px;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: var(--primario);
    list-style: none;
    padding: 1rem 2rem;
    margin: 1rem 0;
    width: 30rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 1;
}

.dropdown li a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    transition: all .1s ease;
}

.dropdown li a:hover {
    font-weight: bold;
}