<header class="header" [ngClass]="{ fondo: !home }">
	<div class="logo" [ngClass]="{ 'fondo-blanco': !home }">
		<img
			class="logo-imagen"
			src="/assets/logo.png"
			alt="Logo Creando Carino" />
		<p class="logo-nombre">Creando Cariño</p>
	</div>
	<nav class="container">
		<ul class="navbar">
			<li>
				<a
					class="navbar-item hvr-glow"
					[routerLinkActiveOptions]="{ exact: true }"
					routerLink="/"
					routerLinkActive="active"
					>Home</a
				>
			</li>
			<li (mouseover)="isOpened = true" (mouseleave)="isOpened = false">
				<a class="navbar-item hvr-glow menu"> Categorías </a>
				<ul *ngIf="isOpened" class="dropdown" aria-label="submenu">
					<li *ngFor="let categoria of categorias">
						<a [routerLink]="['/', categoria.name, categoria.id]">{{
							categoria.name
						}}</a>
					</li>
				</ul>
			</li>
			<li>
				<a
					class="navbar-item hvr-glow"
					routerLink="/pago"
					routerLinkActive="active"
					>Método de Pago</a
				>
			</li>
			<li>
				<a
					class="navbar-item hvr-glow"
					routerLink="/guia"
					routerLinkActive="active"
					>¿Cómo comprar?</a
				>
			</li>
			<li>
				<a
					class="navbar-item hvr-glow"
					(click)="scrollToSection('contactanos')"
					routerLinkActive="active"
					>Contactos</a
				>
			</li>
		</ul>
	</nav>
	<hr *ngIf="home" class="container" />
</header>
