<mat-accordion multi>
	<mat-expansion-panel
		[expanded]="true"
		(opened)="panelOpenState.set(true)"
		(closed)="panelOpenState.set(false)">
		<mat-expansion-panel-header>
			<mat-panel-title> Listado de Categorías </mat-panel-title>
		</mat-expansion-panel-header>
		<app-categories-table></app-categories-table>
	</mat-expansion-panel>

	<mat-expansion-panel
		[expanded]="true"
		(opened)="panelOpenState.set(true)"
		(closed)="panelOpenState.set(false)">
		<mat-expansion-panel-header>
			<mat-panel-title> Listado de Productos </mat-panel-title>
		</mat-expansion-panel-header>
		<app-products-table></app-products-table>
	</mat-expansion-panel>
</mat-accordion>

<br />
