/* Eliminar scrollbar */
::-webkit-scrollbar {
    display: none;
}

:root {
    /* Fuentes */
    --fuente-principal: Roboto, "Helvetica Neue", sans-serif;
    --fuente-secundaria: 'Dancing Script', cursive;
    /* Colores */
    --blanco: #FFFFFF;
    --negro: #000000;
    --primario: #FAECE9;
    --secundario: #F0D8C0;
    --gold: #906F22;
    --gold-light: #a78943;
}

/* Hover effects */
.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

html, body { height: 100%; }
body { margin: 0; font-family: var(--fuente-principal); }
html {
    scroll-behavior: smooth;
}