@font-face {
    font-family: 'Dancing Script';
    src: url('assets/fonts/Dancing-Script/DancingScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* Fuentes */
    --fuente-principal: 'Montserrat',
        sans-serif;
    --fuente-secundaria: 'Dancing Script', cursive;
    /* Colores */
    --blanco: #FFFFFF;
    --negro: #000000;
    --primario: #FAECE9;
    --secundario: #F0D8C0;
    --gold: #906F22;
    --gold-light: #a78943;
}

* {
    font-family: var(--fuente-principal);
}

body {
    background-color: #F8F9FA;
}

/* Utility Classes */

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Hover effects */
.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/* Effects */

.fade-in {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Loading Spinner */
.loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--gold-light);
    --_m:
        conic-gradient(#0000 10%, #000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    to {
        transform: rotate(1turn)
    }
}