<div class="background">
	<div class="container">
		<div class="contenedor">
			<h2 class="titulo">
				¿No te llama la atención ninguno de los regalos?
			</h2>
			<div class="contenido">
				<div class="contenido-texto">
					Si es así, no dudes en escribirnos para juntos personalizar
					el regalo ideal para esa persona tan especial en tu vida,
					nos adaptamos a sus gustos, comida y temática favorita
					Recuerda que si tienes una idea en especial no dudes en
					consultarnos.
				</div>
				<div class="redes-sociales">
					<a href="">
						<img
							src="/assets/redes-sociales/whatsapp2.png"
							alt="WhatsApp" />
					</a>
					<a href="">
						<img
							src="/assets/redes-sociales/instagram2.png"
							alt="Instagram" />
					</a>
					<a href="">
						<img
							src="/assets/redes-sociales/facebook2.png"
							alt="Facebook" />
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
