@media (min-width:992px){
    .background {
        background-image: url(/assets/big.png);
        background-position: 80% 50%;
        background-repeat: no-repeat;
    }

    .contenedor {
        margin-left: 10%;
        width: 60%;
    }
}

.background {
    padding: 2rem 0;
}

.titulo {
    text-align: center;
    margin: 1.5rem 0;
    font-family: 'Montserrat', cursive;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing:5px;
    text-transform: uppercase;
}

@media (min-width:992px){
    .titulo {
        font-size: 3rem;
        margin-bottom: 5rem;
    }
}

.redes-sociales {
    margin: 25px 0;
    display: flex;
    justify-content: center;
}

.redes-sociales a{
    margin: 0 10px;
}

.contenido-texto {
    text-align: center;
    font-family: 'Montserrat', cursive;
    font-size: 1rem;
    font-weight: 300;
}

@media (min-width:992px){
    .contenido-texto {
        font-size: 1.3rem;
    }
}