@media (min-width:992px){
    .background {
        background-image: url(/assets/big.png);
        background-position: 80% 50%;
        background-repeat: no-repeat;
    }

    .contenedor {
        margin-left: 10%;
        width: 60%;
    }
}

.background {
    padding: 2rem 0;
}

.titulo {
    text-align: center;
    margin: 1.5rem 0;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing:5px;
    text-transform: uppercase;
}

@media (min-width:992px){
    .titulo {
        font-size: 3rem;
        margin-bottom: 5rem;
    }
}

.contenido-texto {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
}

@media (min-width:992px){
    .contenido-texto {
        font-size: 1.3rem;
    }
}

.redes-sociales {
    width: 100%;
    margin: 25px 0;
    display: flex;
    justify-content: space-around;
}

.redes-sociales-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: #000;
    text-decoration: none;
    font-weight: 300;
    font-size: 1rem;
}

.redes-sociales-links img{
    height: 5rem;
    width: 5rem;
}