<div class="footer">
	<div class="logo">
		<img class="imagen" src="/assets/logo.png" alt="Logo" />
		<p class="titulo">Creando Cariño</p>
	</div>
	<div class="tipos">
		<p class="titulo">Tipos de Regalo:</p>
		<ul>
			<li routerLink="/desayunos">Desayunos</li>
			<li routerLink="/cajas">Cajas</li>
			<li routerLink="/fresas">Fresas</li>
			<li routerLink="/regalos/globos">Regalos con Globos</li>
			<li routerLink="/otros">Otros</li>
		</ul>
	</div>
	<div class="redes-sociales">
		<p class="titulo">Contactos:</p>
		<ul>
			<li class="item">
				<img
					src="/assets/redes-sociales/logotipo-whatsapp.png"
					alt="Logo de WhatsApp" />
				<p>0986526621</p>
			</li>
			<li class="item">
				<img
					src="/assets/redes-sociales/logotipo-instagram.png"
					alt="Logo de Instagram" />
				<p>@creando_220</p>
			</li>
			<li class="item">
				<img
					src="/assets/redes-sociales/logotipo-facebook.png"
					alt="Logo de Facebook" />
				<p>Creando Cariño</p>
			</li>
		</ul>
	</div>
</div>
