<footer>
	<div class="main-content">
		<div class="logo">
			<img src="/assets/images/logo.png" alt="Logo Creando Cariño" />
		</div>
		<article>
			<h4>Información importante</h4>
			<ul class="links">
				@for (link of links; track $index) {
				<li class="link">
					<a [routerLink]="link.url">
						<img [src]="link.imageUrl" [alt]="link.imageAlt" />
						<p>{{ link.name }}</p>
					</a>
				</li>
				}
			</ul>
		</article>
		<article>
			<h4>Recibe las últimas novedades!</h4>
			<div class="input-group with-icon">
				<input
					class="form-control"
					type="email"
					placeholder="Tu correo electrónico" />
				<img src="/assets/images/icons/email.png" alt="Icono de email" />
			</div>

			<ul class="social-media-links">
				@for (socialMedia of socialMediaLinks; track $index) {
				<li class="item">
					<a [href]="socialMedia.url" target="_blank">
						<img [src]="socialMedia.imageUrl" [alt]="socialMedia.name" />
					</a>
				</li>
				}
			</ul>
		</article>
	</div>
</footer>
