<p-table
	#tableRef
	[value]="products()"
	dataKey="name"
	selectionMode="single"
	styleClass="p-datatable-usuarios p-datatable-gridlines"
	[rows]="5"
	[showCurrentPageReport]="true"
	[rowsPerPageOptions]="[5, 10, 15]"
	[loading]="isLoading()"
	[paginator]="true"
	[scrollable]="isScrollable()"
	scrollDirection="both"
	currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords} productos"
	[globalFilterFields]="['name', 'price', 'description', 'category']">
	<ng-template pTemplate="caption">
		<div class="tabla-header">
			<button
				pButton
				icon="pi pi-plus-circle"
				iconPos="right"
				type="button"
				class="p-button-raised"
				label="Agregar Producto"
				(click)="addProduct()"></button>

			<span class="p-input-icon-left p-ml-auto">
				<i class="pi pi-search"></i>
				<input
					class="p-inputtext p-component"
					pInputText
					type="text"
					(input)="filterProducts($event, 'contains')"
					placeholder="Buscar producto" />
			</span>
		</div>
	</ng-template>

	<ng-template pTemplate="header">
		<tr>
			<th pSortableColumn="name" style="width: 200px">
				Nombre
				<p-sortIcon field="name"></p-sortIcon>
			</th>
			<th pSortableColumn="price" style="width: 150px">
				Precio
				<p-sortIcon field="price"></p-sortIcon>
			</th>
			<th style="width: 300px">Descripción</th>
			<th style="width: 200px">Imagen</th>
			<th style="width: 200px">Acciones</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-product>
		<tr>
			<td style="width: 200px">
				{{ product.name }}
			</td>
			<td style="width: 150px">
				{{ product.price | currency }}
			</td>
			<td style="width: 300px">
				{{ product.description }}
			</td>
			<td class="tabla-imagen" style="width: 200px">
				<img [src]="product.photo_url" [alt]="product.name" />
			</td>
			<td style="width: 200px">
				<div class="actions">
					<button
						pButton
						icon="pi pi-pencil"
						iconPos="right"
						type="button"
						(click)="editProduct(product.id, product.category)"
						class="p-button-raised p-button-rounded"></button>

					<button
						pButton
						icon="pi pi-trash"
						iconPos="right"
						type="button"
						(click)="removeProduct(product)"
						class="p-button-raised p-button-rounded p-button-danger"></button>
				</div>
			</td>
		</tr>
	</ng-template>
	<ng-template pTemplate="emptymessage">
		<tr>
			<td class="no-results" colspan="6">Ningún producto encontrado.</td>
		</tr>
	</ng-template>
</p-table>
