<main class="main-content">
	<h1>Existen dos métodos para realizar tu pago</h1>
	<section>
		<article class="method">
			<h2>Depósito o Transferencia Bancaria</h2>
			<p class="negrita">Banco de Loja</p>
			<p class="negrita">Cuenta de ahorros</p>
			<!-- <p>Nro. 2902681403</p> -->
			<p>Nro. (Preguntar por WhatsApp)</p>
			<p class="negrita">Nombre:</p>
			<p>Sofia del Carmen Salcedo Bermeo</p>
			<p class="negrita">Cédula:</p>
			<p>(Preguntar por WhatsApp)</p>
			<p class="negrita">Correo electrónico:</p>
			<p>sofiasalcedo64&#64;gmail.com</p>
		</article>
		<article class="method">
			<h2>Efectivo</h2>
			<p>
				Para este método de pago se puede realizar una vez que se haya
				depositado el 50% del precio final y se puede cancelar el otro 50% al
				momento que se realice la entrega.
			</p>
			<p>Permitido únicamente para la ciudad de Loja</p>
			<img class="dolar" src="/assets/dollar2.png" alt="Pago en efectivo" />
		</article>
	</section>
</main>
