.main-content {
    padding: 8rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .main-content {
        padding: 8rem 0rem;
    }
}

.main-content h1 {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1.5rem;
}

@media (min-width:768px) {
    .main-content h1 {
        font-size: 3rem;
        margin-bottom: 2.5rem;
    }
}

.main-content section {
    display: grid;
    gap: 2.5rem;
}

@media (min-width:992px){
    .main-content section {
        grid-template-columns: 1fr 1fr;
    }
}

.method {
    background: linear-gradient(to bottom, #faece9 0%, #f0d8c0 100%);
    padding: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
    font-size: 1.2rem;
}

@media (min-width:768px){
    .method {
        font-size: 1.5rem;
    }
}

.method h2 {
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 2rem;
}

@media (min-width:768px){
    .method h2 {
        font-size: 2rem;
    }
}

.negrita {
    font-weight: 600;
}